.videoPlayer {
  position: fixed;
  width: 100vw;
  height: auto;

  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  object-fit: fill;
}

@media (max-width: 720px) {
  .videoPlayer {
    width: auto;
    height: 100vh;
  }
}

.videoContainer::after {
  left: 0;
  top: 0;
  z-index: 5;
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  width: 100%;
  height: 100%;
}
